@import 'ionic.globals';

//colors
$primary-color: #fcb90d;
$secondary-color: #fcd623;
$white-color: #ffffff;

$dark-gray: #959595;
$medium-gray: #cccccc;
$light-gray: #eeeeee;

//measurements
$border-radius: 4px;

// @import 'ionic.theme.default';

@import 'global';

$ionicons-font-path: '../assets/fonts';

@import 'ionicons';