#home-title {
  padding-top: 50%;
  text-align:center;
  color: orange;
  text-weight: bold;
}

.nhs-number-container {
  padding-left: 30%;
  padding-top: 10%;
  >#input {
    border: 2px solid orange;
    border-radius: 7px;
    padding-left: 7px;
  }
}
