/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px)
and (orientation: portrait){
  #home-title {
    padding-top: 35%;
    text-align:center;
    color: #ffb741;
    font-family: Arial;
    >.first {

    }
    >.second {
      font-weight: bold;
    }
  }

  .nhs-number-container {
    text-align: center;
    padding-top: 4%;
    padding-left: 17%;
    float:left;

    >#ci-number {
      color: #bfbfbf;
      height: 28px;
      width: 175px;
      text-align: center;
      background-color: #eeeeee;
      border: 2px solid #ffb741;
      border-radius: 4px;
      padding-left: 7px;
    }
  }

  .implant-label-container {
    text-align: center;
    padding: 4% 0 0 2%;
    float:left;

    >#implant-input {
      color: #bfbfbf;
      height: 28px;
      width: 35px;
      text-align: center;
      background-color: #eeeeee;
      border: 2px solid #ffb741;
      border-radius: 4px;
    }
  }

  .container {
    #next-button {
      background-color: #f0ab3d;
      color: white;
      text-align: center;
      font-size: 15pt;
      margin-top: 48%;
      margin-left: 25%;
      padding: 1% 1% 1% 1%;
      border: 1px solid #f0ab3d;
      box-shadow: 0px 3px 3px #bfbfbf;
    }
    .inner {
      width: 150px;

      >#next-label {
        padding-top: 5%;
        padding-left: 13%;
        display: inline-block;
        vertical-align: top;
        width: 94px;
      }

      >#arrow-icon {
        display: inline-block;
        font-size: 155%;
        vertical-align: top;
        padding-top: 2%;
      }
    }
  }
}

/* Smartphones iPhone 5 and bigger (Portrait)*/
@media only screen
and (min-width : 321px) and (max-width: 375px) {
  #home-title {
    padding-top: 30%;
    text-align:center;
    color: #ffb741;
    width: 90%;
    padding-left: 10%;
    font-family: Arial;
    >.first {

    }
    >.second {
      font-weight: bold;
    }
  }

  .nhs-number-container {
    text-align: center;
    padding-top: 4%;
    padding-left: 24%;
    float:left;

    >#ci-number {
      color: #bfbfbf;
      height: 28px;
      width: 175px;
      text-align: center;
      background-color: #eeeeee;
      border: 2px solid #ffb741;
      border-radius: 4px;
      padding-left: 7px;
    }
  }

  .implant-label-container {
    text-align: center;
    padding: 4% 0 0 2%;
    float:left;

    >#implant-input {
      color: #bfbfbf;
      height: 28px;
      width: 35px;
      text-align: center;
      background-color: #eeeeee;
      border: 2px solid #ffb741;
      border-radius: 4px;
    }
  }

  .container {
    #next-button {
      background-color: #f0ab3d;
      color: white;
      text-align: center;
      font-size: 15pt;
      margin-top: 55%;
      margin-left: 29%;
      padding: 1% 1% 1% 1%;
      border: 1px solid #f0ab3d;
      box-shadow: 0px 3px 3px #bfbfbf;
    }
    .inner {
      width: 150px;

      >#next-label {
        padding-top: 5%;
        padding-left: 13%;
        display: inline-block;
        vertical-align: top;
        width: 94px;
      }

      >#arrow-icon {
        display: inline-block;
        font-size: 155%;
        vertical-align: top;
        padding-top: 2%;
      }
    }
  }
}

/* Smartphones iPhone 6 and bigger (Portrait)*/
@media only screen
and (min-width : 376px) and (max-width: 414px) {
  #home-title {
    padding-top: 30%;
    text-align:center;
    color: #ffb741;
    width: 90%;
    padding-left: 10%;
    font-family: Arial;
    >.first {

    }
    >.second {
      font-weight: bold;
    }
  }

  .nhs-number-container {
    text-align: center;
    padding-top: 4%;
    padding-left: 24%;
    float:left;

    >#ci-number {
      color: #bfbfbf;
      height: 28px;
      width: 175px;
      text-align: center;
      background-color: #eeeeee;
      border: 2px solid #ffb741;
      border-radius: 4px;
      padding-left: 7px;
    }
  }

  .implant-label-container {
    text-align: center;
    padding: 4% 0 0 2%;
    float:left;

    >#implant-input {
      color: #bfbfbf;
      height: 28px;
      width: 35px;
      text-align: center;
      background-color: #eeeeee;
      border: 2px solid #ffb741;
      border-radius: 4px;
    }
  }

  .container {
    #next-button {
      background-color: #f0ab3d;
      color: white;
      text-align: center;
      font-size: 15pt;
      margin-top: 55%;
      margin-left: 31%;
      padding: 1% 1% 1% 1%;
      border: 1px solid #f0ab3d;
      box-shadow: 0px 3px 3px #bfbfbf;
    }
    .inner {
      width: 150px;

      >#next-label {
        padding-top: 5%;
        padding-left: 13%;
        display: inline-block;
        vertical-align: top;
        width: 94px;
      }

      >#arrow-icon {
        display: inline-block;
        font-size: 155%;
        vertical-align: top;
        padding-top: 2%;
      }
    }
  }
}


/* Tablets (Portrait)*/
@media only screen
and (min-width : 415px) and (max-width: 768px)
and (orientation: portrait){
  #home-title {
    padding-top: 30%;
    text-align:center;
    color: #ffb741;
    width: 90%;
    padding-left: 10%;
    font-family: Arial;
    font-size: 30pt;
    >.first {

    }
    >.second {
      font-weight: bold;
    }
  }

  .nhs-number-container {
    text-align: center;
    padding-top: 4%;
    padding-left: 20%;
    float:left;

    >#ci-number {
      color: #bfbfbf;
      height: 50px;
      width: 350px;
      text-align: center;
      background-color: #eeeeee;
      border: 2px solid #ffb741;
      border-radius: 4px;
      padding-left: 7px;
      font-size: 20pt;
    }
  }

  .implant-label-container {
    text-align: center;
    padding: 4% 0 0 2%;
    float:left;

    >#implant-input {
      color: #bfbfbf;
      height: 50px;
      width: 53px;
      text-align: center;
      background-color: #eeeeee;
      border: 2px solid #ffb741;
      border-radius: 4px;
      padding-left: 7px;
      font-size: 20pt;
    }
  }

  .container {
    #next-button {
      background-color: #f0ab3d;
      color: white;
      text-align: center;
      font-size: 15pt;
      margin-top: 37%;
      margin-left: 38%;
      padding: 1% 1% 1% 1%;
      border: 1px solid #f0ab3d;
      box-shadow: 0px 3px 3px #bfbfbf;
    }
    .inner {
      width: 150px;

      >#next-label {
        padding-top: 5%;
        padding-left: 13%;
        display: inline-block;
        vertical-align: top;
        width: 94px;
      }

      >#arrow-icon {
        display: inline-block;
        font-size: 155%;
        vertical-align: top;
        padding-top: 2%;
      }
    }
  }
}

/* Landscape */

/* Large mobile devices incl iPhone 6 and 7 & tablets*/
@media only screen
and (min-width : 569px) and (max-width: 737px)
and (orientation: landscape){
  #home-title {
    padding-top: 5%;
    text-align:center;
    color: #ffb741;
    width: 90%;
    padding-left: 13%;
    font-family: Arial;
    font-size: 13pt;
    >.first {

    }
    >.second {
      font-weight: bold;
    }
  }

  .nhs-number-container {
    text-align: center;
    padding-top: 4%;
    padding-left: 36%;
    float:left;

    >#ci-number {
      color: #bfbfbf;
      height: 40px;
      width: 140px;
      text-align: center;
      background-color: #eeeeee;
      border: 2px solid #ffb741;
      border-radius: 4px;
      padding-left: 7px;
      font-size: 10pt;
    }
  }

  .implant-label-container {
    text-align: center;
    padding: 4% 0 0 2%;
    float:left;

    >#implant-input {
      color: #bfbfbf;
      height: 40px;
      width: 40px;
      text-align: center;
      background-color: #eeeeee;
      border: 2px solid #ffb741;
      border-radius: 4px;
      font-size: 10pt;
    }
  }

  .container {
    #next-button {
      background-color: #f0ab3d;
      color: white;
      text-align: center;
      font-size: 12pt;
      margin-left: 39%;
      margin-top: 8%;
      padding: 1% 1% 1% 1%;
      border: 1px solid #f0ab3d;
      box-shadow: 0px 3px 3px #bfbfbf;
    }
    .inner {
      width: 150px;

      >#next-label {
        padding-top: 4%;
        padding-left: 12%;
        display: inline-block;
        vertical-align: top;
        width: 94px;
      }

      >#arrow-icon {
        display: inline-block;
        font-size: 155%;
        vertical-align: top;
        padding-top: 2%;
      }
    }
  }
}

@media only screen
and (max-width: 568px)
and (orientation: landscape){
  #home-title {
    padding-top: 3%;
    text-align:center;
    color: #ffb741;
    width: 90%;
    padding-left: 10%;
    font-family: Arial;
    font-size: 10pt;
    >.first {

    }
    >.second {
      font-weight: bold;
    }
  }

  .nhs-number-container {
    text-align: center;
    padding-top: 4%;
    padding-left: 35%;
    float:left;

    >#ci-number {
      color: #bfbfbf;
      height: 35px;
      width: 120px;
      text-align: center;
      background-color: #eeeeee;
      border: 2px solid #ffb741;
      border-radius: 4px;
      padding-left: 7px;
      font-size: 9pt;
    }
  }

  .implant-label-container {
    text-align: center;
    padding: 4% 0 0 2%;
    float:left;

    >#implant-input {
      color: #bfbfbf;
      height: 35px;
      width: 35px;
      text-align: center;
      background-color: #eeeeee;
      border: 2px solid #ffb741;
      border-radius: 4px;
      padding-left: 7px;
      font-size: 9pt;
    }
  }

  .container {
    #next-button {
      background-color: #f0ab3d;
      color: white;
      text-align: center;
      font-size: 12pt;
      margin-left: 38%;
      margin-top: 6%;
      padding: 1% 1% 1% 1%;
      border: 1px solid #f0ab3d;
      box-shadow: 0px 3px 3px #bfbfbf;
    }
    .inner {
      width: 130px;

      >#next-label {
        padding-top: 4%;
        padding-left: 12%;
        display: inline-block;
        vertical-align: top;
        width: 94px;
      }

      >#arrow-icon {
        display: inline-block;
        font-size: 155%;
        vertical-align: top;
        padding-top: 2%;
      }
    }
  }
}

@media only screen and (min-width: 1024px) and (orientation: landscape) {

  #home-title {
    padding-top: 5%;
    text-align: center;
    color: #ffb741;
    width: 90%;
    padding-left: 13%;
    font-family: Arial;
    font-size: 25pt;
    > .first {

    }
    > .second {
      font-weight: bold;
    }
  }

  .nhs-number-container {
    text-align: center;
    padding-top: 4%;
    padding-left: 32%;
    float: left;

    > #ci-number {
      color: #bfbfbf;
      height: 60px;
      width: 300px;
      text-align: center;
      background-color: #eeeeee;
      border: 2px solid #ffb741;
      border-radius: 4px;
      padding-left: 7px;
      font-size: 20pt;
    }
  }

  .implant-label-container {
    text-align: center;
    padding: 4% 0 0 2%;
    float: left;

    > #implant-input {
      color: #bfbfbf;
      height: 60px;
      width: 60px;
      text-align: center;
      background-color: #eeeeee;
      border: 2px solid #ffb741;
      border-radius: 4px;
      font-size: 20pt;
    }
  }

  .container {
    #next-button {
      background-color: #f0ab3d;
      color: white;
      text-align: center;
      font-size: 20pt;
      margin-left: 38%;
      margin-top: 18%;
      padding: 1% 1% 1% 1%;
      border: 1px solid #f0ab3d;
      box-shadow: 0px 3px 3px #bfbfbf;
    }
    .inner {
      width: 220px;

      > #next-label {
        padding-top: 3%;
        padding-left: 12%;
        display: inline-block;
        vertical-align: top;
        width: 135px;
        font-size: 25pt;
      }

      > #arrow-icon {
        display: inline-block;
        font-size: 155%;
        vertical-align: top;
        padding-top: 2%;
      }
    }
  }
}

input:focus {
  color: #a3a3a3;
  font-weight:bold;
}
