/*
.step-counter-container {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;

  .step-counter {
    position: relative;
    max-width: 400px;
    margin: auto;
    display: block;

    &:before {
      content: '';
      background-color: $secondary-color;
      display: block;
      margin: auto;
      margin-bottom: 40px;
      width: calc(100% - 110px);
      height: 14px;
    }

    .steps {
      position: absolute;
      top: -18px;
      left: 0;
      height: 100%;
      width: 100%;
      padding: 0;
      width: calc(100% - 110px);
      margin: 0 55px;

      li {
        list-style-type: none;
        position: absolute;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: $white-color;
        border: 3px solid $primary-color;

        &.active {
          background-color: $primary-color;

          .label {
            color: $white-color;
          }
        }

        .label {
          color: $primary-color;
          position: absolute;
          line-height: 50px - 2 * 3px;
          width: 100%;
          text-align: center;
          font-size: 26px;
        }
      }

      .steps-first {
        left: -25px;
      }

      .steps-second {
        left: calc(33% - 25px);
      }

      .steps-third {
        right: calc(33% - 25px);
      }

      .steps-fourth {
        right: -25px;
      }
    }
  }
}*/



/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 376px) {
  .header {
    background-color: orange;
    background-color: #ffb741;
    color:white;
    height: 14%;
    font-size: 18pt;
    text-align: center;
    padding-top: 9px;

    >.inner-text {
      font-weight: bold;
    }
  }
}

//Iphone 6 and 7 landscape
@media only screen
and (min-width : 736px) {
  .header {
    background-color: orange;
    background-color: #ffb741;
    color:white;
    height: 14%;
    font-size: 18pt;
    text-align: center;
    padding-top: 14px;

    >.inner-text {
      font-weight: bold;
    }
  }
}

/* Smartphones (portrait) sizes smaller than iPhone 5 view */

@media only screen
and (max-width : 568px) {
  .step-counter-container {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;

    .step-counter {
      position: relative;
      max-width: 400px;
      margin: auto;
      display: block;

      &:before {
        content: '';
        background-color: $secondary-color;
        display: block;
        margin: auto;
        margin-bottom: 32px;
        width: calc(100% - 110px);
        height: 14px;
      }

      .steps {
        position: absolute;
        top: -14px;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 0;
        width: calc(100% - 110px);
        margin: 0 55px;

        li {
          list-style-type: none;
          position: absolute;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background-color: $white-color;
          border: 3px solid $primary-color;

          &.active {
            background-color: $primary-color;

            .label {
              color: $white-color;
            }
          }

          .label {
            color: $primary-color;
            position: absolute;
            line-height: 35px;
            width: 100%;
            text-align: center;
            font-size: 26px;
          }
        }

        .steps-first {
          left: -25px;
        }

        .steps-second {
          left: calc(35% - 25px);
        }

        .steps-third {
          right: calc(33% - 25px);
        }

        .steps-fourth {
          right: -25px;
        }
      }
    }
  }
}

/* Smartphones (landscape) sizes smaller than iPhone 5 view */
@media only screen
and (min-width : 568px) and (max-width: 500px) {
  .header {
    background-color: orange;
    background-color: #ffb741;
    color:white;
    height: 12%;
    font-size: 15pt;
    text-align: center;
    padding-top: 4px;

    >.inner-text {
      font-weight: bold;
    }
  }
}

/* iPads ---------- */

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 501px)
and (max-device-width : 1024px) {
  .header {
    background-color: orange;
    background-color: #ffb741;
    color:white;
    height: 7%;
    font-size: 27pt;
    text-align: center;
    padding-top: 14px;

    >.inner-text {
      font-weight: bold;
    }
  }
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 1024px)
and (orientation : landscape) {
  .step-counter-container {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;

    .step-counter {
      position: relative;
      max-width: 400px;
      margin: auto;
      display: block;

      &:before {
        content: '';
        background-color: $secondary-color;
        display: block;
        margin: auto;
        margin-bottom: 80px;
        width: calc(100% - 110px);
        height: 18px;
      }

      .steps {
        position: absolute;
        top: -25px;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 0;
        width: calc(100% - 110px);
        margin: 0 55px;

        li {
          list-style-type: none;
          position: absolute;
          height: 70px;
          width: 70px;
          border-radius: 50%;
          background-color: $white-color;
          border: 3px solid $primary-color;

          &.active {
            background-color: $primary-color;

            .label {
              color: $white-color;
            }
          }

          .label {
            color: $primary-color;
            position: absolute;
            line-height: 70px - 2 * 3px;
            width: 100%;
            text-align: center;
            font-size: 26px;
          }
        }

        .steps-first {
          left: -25px;
        }

        .steps-second {
          left: calc(31% - 25px);
        }

        .steps-third {
          right: calc(30% - 25px);
        }

        .steps-fourth {
          right: -25px;
        }
      }
    }
  }
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 690px)
and (max-device-width : 1023px)
and (orientation : portrait) {
  .step-counter-container {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;

    .step-counter {
      position: relative;
      max-width: 500px;
      margin: auto;
      display: block;

      &:before {
        content: '';
        background-color: $secondary-color;
        display: block;
        margin: auto;
        margin-bottom: 80px;
        width: calc(100% - 110px);
        height: 18px;
      }

      .steps {
        position: absolute;
        top: -18px;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 0;
        width: calc(100% - 110px);
        margin: 0 55px;

        li {
          list-style-type: none;
          position: absolute;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          background-color: $white-color;
          border: 3px solid $primary-color;

          &.active {
            background-color: $primary-color;

            .label {
              color: $white-color;
            }
          }

          .label {
            color: $primary-color;
            position: absolute;
            line-height: 50px - 2 * 3px;
            width: 100%;
            text-align: center;
            font-size: 26px;
          }
        }

        .steps-first {
          left: -25px;
        }

        .steps-second {
          left: calc(32% - 25px);
        }

        .steps-third {
          right: calc(35% - 25px);
        }

        .steps-fourth {
          right: -25px;
        }
      }
    }
  }
}

