/* iPhone 5 (Portrait) */
@media only screen
and (max-width : 320px) {
  .step-counter-container {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;

    .step-counter {
      position: relative;
      max-width: 400px;
      margin: auto;
      display: block;

      &:before {
        content: '';
        background-color: $secondary-color;
        display: block;
        margin: auto;
        margin-bottom: 32px;
        width: calc(100% - 110px);
        height: 14px;
      }

      .steps {
        position: absolute;
        top: -14px;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 0;
        width: calc(100% - 110px);
        margin: 0 55px;

        li {
          list-style-type: none;
          position: absolute;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background-color: $white-color;
          border: 3px solid $primary-color;

          &.active {
            background-color: $primary-color;

            .label {
              color: $white-color;
            }
          }

          .label {
            color: $primary-color;
            position: absolute;
            line-height: 35px;
            width: 100%;
            text-align: center;
            font-size: 26px;
          }
        }

        .steps-first {
          left: -25px;
        }

        .steps-second {
          left: calc(35% - 25px);
        }

        .steps-third {
          right: calc(33% - 25px);
        }

        .steps-fourth {
          right: -25px;
        }
      }
    }
  }
}

/* all devices between iPhone 5 and 6 incl iPhone 6 and 7 (Portrait) */
@media only screen
and (min-width : 320px) and (max-width: 414px) {
  .step-counter-container {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;

    .step-counter {
      position: relative;
      max-width: 400px;
      margin: auto;
      display: block;

      &:before {
        content: '';
        background-color: $secondary-color;
        display: block;
        margin: auto;
        margin-bottom: 32px;
        width: calc(100% - 110px);
        height: 14px;
      }

      .steps {
        position: absolute;
        top: -14px;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 0;
        width: calc(100% - 110px);
        margin: 0 55px;

        li {
          list-style-type: none;
          position: absolute;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background-color: $white-color;
          border: 3px solid $primary-color;

          &.active {
            background-color: $primary-color;

            .label {
              color: $white-color;
            }
          }

          .label {
            color: $primary-color;
            position: absolute;
            line-height: 35px;
            width: 100%;
            text-align: center;
            font-size: 26px;
          }
        }

        .steps-first {
          left: -25px;
        }

        .steps-second {
          left: calc(35% - 25px);
        }

        .steps-third {
          right: calc(33% - 25px);
        }

        .steps-fourth {
          right: -25px;
        }
      }
    }
  }
}

/* Tablets (Portrait) */
/* all devices between iPhone 5 and 6 incl iPhone 6 and 7 (Portrait) */
@media only screen
and (min-width : 415px) and (max-width: 1024px) {
  .step-counter-container {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;

    .step-counter {
      position: relative;
      max-width: 400px;
      margin: auto;
      display: block;

      &:before {
        content: '';
        background-color: $secondary-color;
        display: block;
        margin: auto;
        margin-bottom: 32px;
        width: calc(100% - 110px);
        height: 14px;
      }

      .steps {
        position: absolute;
        top: -14px;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 0;
        width: calc(100% - 110px);
        margin: 0 55px;

        li {
          list-style-type: none;
          position: absolute;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background-color: $white-color;
          border: 3px solid $primary-color;

          &.active {
            background-color: $primary-color;

            .label {
              color: $white-color;
            }
          }

          .label {
            color: $primary-color;
            position: absolute;
            line-height: 35px;
            width: 100%;
            text-align: center;
            font-size: 26px;
          }
        }

        .steps-first {
          left: -25px;
        }

        .steps-second {
          left: calc(35% - 25px);
        }

        .steps-third {
          right: calc(33% - 25px);
        }

        .steps-fourth {
          right: -25px;
        }
      }
    }
  }
}


