#next-button {
  height: 8%;
  width: 52%;
  background-color: #f0ab3d;
  color: white;
  text-align: center;
  font-size: 13pt;
  margin-top: 60%;
  margin-left: 23%;
  border: 1px solid #f0ab3d;
  box-shadow:0px 3px 3px #bfbfbf;
}
#next-label {
  position: absolute;
  padding-left: 13%;
  padding-top: 1%;
}
#arrow-icon {
  padding-left: 70%;
  font-size: 155%;
}
