#fail-title {
  font-size: 30px;
  margin-bottom: 5px;
  color: #f26c4f;
}

#alert-icon {
  color: #f26c4f;
  font-size: 100px;
  margin: auto;
  display: block;
  text-align: center;
  margin-top: 40px;
  margin-bottom: -40px;
}

#testAgainButton .label {
  margin-left: 50px;
}