.GDP-button {
  width: calc(100% - 100px);
  margin: auto;
  display: block;
  max-width: 270px;
  height: 90px;
  position: relative;
  background-color: $primary-color;

  .label {
    color: $white-color;
    font-size: 28px;
  }

  .icon {
    color: $white-color;
    font-size: 46px;
    position: absolute;
    line-height: 90px;
    top: 0;
  }
}

.icon-left > .GDP-button {
  .label {
    margin-right: -30px;
  }

  .icon {
    left: 40px;
  }
}

.icon-right > .GDP-button {
  .label {
    margin-left: -30px;
  }

  .icon {
    right: 40px;
  }
}

#next-button {
  height: 8%;
  width: 52%;
  background-color: #f0ab3d;
  color: white;
  text-align: center;
  font-size: 13pt;
  margin-top: 60%;
  margin-left: 23%;
  border: 1px solid #f0ab3d;
  box-shadow: 0px 3px 3px #bfbfbf;
}

#next-label {
  /*padding-left: 13%;*/
  padding-top: 3%;
  display: inline-block;
  vertical-align: top;
  width: 120px;
}

#arrow-icon {
  display: inline-block;

  /*padding-left: 70%;*/
  font-size: 155%;
  vertical-align: top;
}