progress {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 70%;
  height: 60px;
  margin: 15px auto;
  padding: 4px;
  border:4px solid #ffb741;
}

progress::-webkit-progress-bar {
  background-color: white;
}

progress::-webkit-progress-value {
  background-color: #fed450;
}

.progress-label {
  padding-top: 55%;
  font-size: 18pt;
  font-weight: bold;
  padding-bottom: 5%;
  text-align:center;
  color: #ffb741;
  font-family: Arial;
}
