#ci-icon {
  font-size: 90px;
  color: #949494;
  margin-top: 40px;
  margin-bottom: -40px;
  width: 100%;
  text-align: center;
}

.spinner {
  margin: auto;
  display: block;
}

#temp-button {
  height: 8%;
  width: 25%;
  background-color: #f0ab3d;
  color: white;
  text-align: center;
  font-size: 13pt;
  margin-left: 23%;
  border: 1px solid #f0ab3d;
  box-shadow:0px 3px 3px #bfbfbf;
}

  #next-button {
    background-color: #f0ab3d;
    color: white;
    text-align: center;
    font-size: 15pt;
    margin-top: 100%;
    margin-left: 25%;
    padding: 1% 1% 1% 1%;
    border: 1px solid #f0ab3d;
    box-shadow: 0px 3px 3px #bfbfbf;
  }
  .inner {
    width: 150px;

    >#next-label {
      padding-top: 5%;
      padding-left: 13%;
      display: inline-block;
      vertical-align: top;
      width: 94px;
    }

    >#arrow-icon {
      display: inline-block;
      font-size: 155%;
      vertical-align: top;
      padding-top: 2%;
    }
  }
.spinner {
  margin-top: -10px;
}
