#ci-icon {
  font-size: 90px;
  color: #949494;
  margin-top: 40px;
  margin-bottom: -40px;
  width: 100%;
  text-align: center;
}

.spinner {
  margin: auto;
  display: block;
}

.spinner {
  margin-top: -10px;
}